/** general rules **/
body {
  font-family: "Open Sans", sans-serif;
}
header {
  padding-top: 1em;
  padding-bottom: 1em;
}

footer {
  background-color: #eee;
}

.caption-one, .caption-two, .caption-three, .caption-four {
  width: 350px;
  height: 250px;
  left: 10%;
  top: 10%;
  padding-left: 2em;
  padding-right: 2em;
  color: #fff;
  text-align: left;
  opacity: 0.9;
}
.caption-one {
  background-color: #fd9a18;
}

.caption-two {
  background-color: #82dc82;
}

.caption-three {
  background-color: #ea3c00;
}

.arrow-icon-caption {
  display: block;
  float: right;
  position: relative;
  margin-top: -10px;
  margin-right: 0;
}

.navbar {
  border-radius: 0;
}

.navbar-default {
  margin-bottom: 0;
  border: 0;

  background: rgb(238,238,238);
  color: #000;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:link,
.navbar-default .navbar-nav > li > a:visited {
  color: #000;
}

.navbar-default .navbar-nav > .active {
  border-left: solid 1px #c9c9c9;
  border-right: solid 1px #c9c9c9;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  border-top: solid 3px #008cf2;
  background-color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  border-top: solid 3px #53b4fc;
  background-color: rgb(247,247,247);
}

.navbar-default .navbar-nav > li > a {
  border-top: solid 3px rgb(238, 238, 238);
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: transparent;
}

.nav-pills > li > a {
  border-radius: 0;
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 0;
}

.nav-pills > li:nth-child(1) > a {
  color: rgb(64, 153, 255) !important;
}
.nav-pills > li:nth-child(1) {
  border-left: 4px solid rgb(64, 153, 255);
}
.nav-pills > li:nth-child(2) > a {
  color: rgb(254, 100, 4) !important;
} 
.nav-pills > li:nth-child(2) {
  border-left: 4px solid rgb(254, 100, 4);
}
.nav-pills > li:nth-child(3) > a {
  color: rgb(0, 92, 180) !important;
}
.nav-pills > li:nth-child(3) {
  border-left: 4px solid rgb(0, 92, 180);
}
.nav-pills > li:nth-child(4) > a {
  color: red !important;
}
.nav-pills > li:nth-child(4) {
  border-left: 4px solid red;
}
.nav-pills > li:nth-child(5) > a {
  color:  #7dbb02 !important;
}
.nav-pills > li:nth-child(5) {
  border-left: 4px solid  #7dbb02;
}
.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sub-content {
  padding-top: 30px;
}

.content-left {
  padding-right: 30px;
}

.register {
  display: table;
  position: relative;
  float: right;
  margin-top: 2em;
  margin-left: 2em;
  padding: 2em;
  height: 80px;
  width: 100%;
  background-color: #fff;
  color: rgb(64, 153, 255);
  border-left: 5px solid rgb(64, 153, 255);
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  border-right: 2px solid #eee;
}

.register h2 {
  display: table-cell;
  vertical-align: middle;
}

.banner {
  display: block;
  position: right;
  float: left;
  height: auto;
  width: 100%;
  background-color: transparent;
}

.banner img {
  padding-top: 15px;
}

.event-left {
  display: inline-table;
  position: relative;
  float: left;
  width: 100%;
  height: 210px;
  background-color: #ea3c00;
}

.event-left h3, .event-left h2,
.event-right h3, .event-right h2 {
  color: #fff;
}

.event-left h3, .event-right h3 {
  padding-left: 1em;
}

.event-left h2, .event-right h2 {
  padding-left: 1.5em;
}

.arrow-icon-left {
  display: block;
  float: right;
  position: relative;
  margin-right: 10px;
  margin-bottom: 10px;
}

.arrow-icon-right {
  display: block;
  float: right;
  position: relative;
  margin-top: -1px;
  margin-right: 10px;
  margin-bottom: 10px;
}


.event-right {
  display: inline-table;
  width: 100%;
  height: 210px;
  background-color: #82dc82;
}


.main {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  height: 250px;
  padding: 1.35em;
  background-color: #848484;
  color: #fff; 
}

.main h2 {
  margin-top: 0;
}
.recent-one, .recent-two, .recent-three, .recent-four {
  height: 250px;
  margin-bottom: 10px;
  padding: 1.35em;
  color: #fff;
}
.recent-one {
  background-color: #aba068;
}

.recent-two {
  background-color: #7c69ab;
}

.recent-three {
  background-color: #69ad7e;
}

.recent-four {
  background-color: #ac6897;
}